/* General */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #caf7e3;
}


input, select, textarea{
    padding:10px;
    width: 300px;
    border-radius: 5px;
    border: solid 2px #BBB;
    font-size: 1em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

textarea{
    padding: 0;
}

div{
    margin: 20px 0;
}

button{
    margin-top:1em;
    padding:14px 20px;
    background-color: #6a67ce;
    color: #FFFFFF;
    border: 0px;
    cursor: pointer;
    border-radius: 5px;
}

li{
    list-style: none;
}

ul{
    text-align: left;
}

img{
    height: 10%;
    width: 10%;
    border-radius: 50%;
}

img.social-icon{
    height: 1em;
    width: auto;
}

ul li a p{
    display: inline;
}


/* Header and footer */
header, footer{
    background-color: #312c51;
    color: #f1aa9b;
    text-align: center;
    padding: 0.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    height: 80px;
}

footer{
    margin-bottom: -1.2em;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
}

.header-item{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
    color: white;
}

.header-menu{
    height: 100%;
    margin: 0;
    padding: 0;
}
.header-btn{
    margin: 0;
    height: 100%;
    background-color: #312c51;
    border-radius: 0;
    transition: 0.3s;
}

.header-btn:hover, .header-btn-mobile:hover {
    background-color: #6a67ce;
}

.menu-icon {
    display: none;
}

.menu-mobile.show {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #312c51;
    margin: 0;   
    padding: 10px 0;
}

.header-btn-mobile {
    color: white;
    background-color: #312c51;
    width: 100%;
    border-radius: 0;
    transition: 0.3s;
}

.menu-mobile {
    display: none;
 }

/* Links */
a:link {
    text-decoration: none;
}
a:-webkit-any-link {
    color: white;
}
a:visited {
    color: white;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}

/* Titles */
h2,h1{
    font-family: sans-serif;
    font-size: 1em;
    text-align: left;
    color: #f0c38e;
}

h1{
    font-size: 2em;
    text-align: center;
}

.title{
    background-color:cornflowerblue;
    padding: 0.5em;
    border-radius: 0.5em;
}

/* Container */
.container{
    background-color:#2f5d62;
    padding: 1em;
    border-radius: 1em;
    width: 90%;
    margin: 2em auto;
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
}

.contribute{
    flex-direction: column;
}

.contributors{
    text-align: center;
}

/* Media queries */
@media (max-width:800px){
    .container{
        flex-direction: column;
        width: 80%;
    }

    div{
        margin: 20px auto;
    }

    button{
        margin-top: 0 auto;
    }

    .header-menu {
        display: none;
    }

    .menu-icon {
        height: 20px;
        display: block;
    }
    

}
