*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #48426d;
}
header{
    background-color: #312c51;
    color: #f1aa9b;
    text-align: center;
    padding: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-family: sans-serif;
    margin-top: 0.5em;
    color: #f0c38e;
}

main{
    text-align: center;
    margin: 2em 0;
}

input, select{
    padding:10px;
    width: 300px;
    border-radius: 5px;
    border: solid 2px #BBB;
    font-size: 1em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div{
    margin: 20px 0;
}

button{
    padding:14px 20px;
    background-color: #6a67ce;
    color: #FFFFFF;
    border: 0px;
    cursor: pointer;
    border-radius: 5px;
}

